.c-base {
  background: $bace-c;
  background: linear-gradient(
      135deg,
      $accent-c 15%,
      $bace-c 14%,
      $bace-c 71%,
      $main-c 70%
    )
    no-repeat;
  min-height: 100vh;
}

.c-content {
  background: $white;
  width: 80%;
  max-width: $content-width;
  margin: 0 auto;
  padding: 5%;
  position: relative;
}
.c-dlist {
  display: flex;
  .cont {
    position: absolute;
    opacity: 0;
  }
}
.c-title {
  &.-main {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: rotate(-20deg);
    mix-blend-mode: multiply;
  }
}

.c-text {
  &.-center {
    text-align: center;
  }
}
.c-curtain {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid $accent-c;
  transform: rotate(5deg);
}

.c-content_inner.js-change:not(:first-of-type) {
  display: none;
}
button {
  background: $grey;
}
