.l-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10% 2% 8%;
  @include mq() {
    padding: 3% 2%;
  }
}
.l-main {
  // max-width: 100vw;
  // overflow-x: hidden;
}
.l-body {
  padding: 50px 3%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include mq() {
    padding: 100px 5%;
  }
}
.c-text + .l-body {
  padding-top: 25px;
  @include mq() {
    padding-top: 50px;
  }
}
